@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%);
    opacity: 1;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
    border-width: 2px;
}

.input-control.error {
    color: #ff3860;
    font-size: 13px;
    text-align: right;
    font-weight: 500;
}

svg {
    filter: invert(37%) sepia(39%) saturate(4733%) hue-rotate(327deg) brightness(100%) contrast(104%);
}

.form-svg {
    left: 90%;
    top: 30%;
    display: none;
}